body{
    #jail{
        #my_btn{
            color:red;
            font-size: 1.5rem;
            background-color: aquamarine;
            border-radius: 200px;
        }
        #my_btn:hover{
            background-color: aqua;
        }
    }
}